.name a{color: #7DEBE3; padding: 0;}
.name a:hover{color: #01ffed; padding: 0;}

.background {margin-top: -3.450em;}

.image-and-info {
    width: 90%;
    max-width: 87.5em;
    margin: 0em auto;
}

#info_image {
    display: inline-block;
    border-radius: 50%;
    object-fit: cover;
    width: 8em;
    height: 8em;
    padding: 0.1em;
    border: 0.2em solid rgba(0, 255, 255, 0.56);
    margin-top: 9em;
    margin-bottom: 7.5em;
    position: relative;
}

.name {
    display: block;
    bottom: 5.5em;
    position: relative;
    color: white;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
}

.links {
    position: relative;
    display: inline-block;
    bottom: 2.75em;
    max-height: 2.75em;
}

.links a{
    vertical-align: sub;
    color: rgba(255,255,255,1);
    font-size: 2.75em;
    margin-left: 0.125em;
    margin-right: 0.125em;
    padding: 0.1em;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

.links li:hover {transition: all ease 0.2s; transform: translateY(-0.1875em);}

.icon-mail:hover {color:#c3c3c3;}
.icon-vk:hover {color:#8eb1db;}
.icon-facebook:hover {color:#7994ce;}
.icon-instagram:hover {color:#e38c86;}
.icon-behance:hover {color:#9cbfff;}
.icon-dribbble:hover {color:#e587ab;}

#profile-navigation {
    display: block;
    position: relative;
    top: 0.5625em;
}

.nav {
    color: black;
    border-radius: 2em;
    padding: 0.5em 0.75em;
    margin: 0.125em 0.25em;
    text-transform: capitalize;
    font-size: 1.0625em;
    background-color: #f5f5f5;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

.info {
    display: inline-block;
    max-width: 50em;
    line-height: 1.625em;
}

.info h3, h4 {
    margin-bottom: 2em;
    margin-top: 2.5625em;
}

h1 {
    margin: 0;
}

.wrapper .profile {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;
}